@font-face {
    font-family: "Zen antique";
    src: url(../Fuentes/ZenAntiqueSoft-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../Fuentes/RobotoCondensed-Regular.ttf);
}
body {
    background-color: rgb(201, 201, 201);
}
.título {
    text-align: center;
    font-family: "Zen antique";
    font-size: 2rem;
    border-bottom: 1px solid #2A4BB7;
    border-top: 1px solid #2A4BB7;
    padding-bottom: 10px;
    width:auto;
    background-color: #FD882F;
    color: #FFFF25;
}
.contenedor_imagen_principal {
    width: 100%;
    height: 100%;
    text-align: center;
}
.imagen_principal {
    width: 400px;
    height: 280px;

}
.links {
    font-family: "Zen antique";
    text-align: center;
    text-decoration: none;
    color: #2A4BB7;
}
.gran_contenedor {
    width: 1200px;
    margin: 0px auto;
}
.contenedores_secciones {
    display: inline-block;
}
.imagenes {
    width: 400px;
    height: 400px;
    margin-left: 5px;
}
.contenedores_imagenes {
    width: 100%;
    height: 100%;
    text-align: center;
}
.secciones {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0px;
    margin: 20px 0px; 
}
.secciónUno {
 background-color: #BC0723;
}
.secciónDos {
    background-color: #0096D2;
}
.secciónTres {
 background-color: #F7CE00;
}
.secciónCuatro {
    background-color: #E85C1F;
}
.texto_secciones {
    font-family: roboto;
    font-size: 1.25rem;
    text-align: justify;
    display: inline-block;
    margin: 2px 15px;
}
.modelos {
    font-family: "Zen antique";
    font-size: 1.5rem;
    margin-left: 2px;
    text-align: center;
}
.footer {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.imagen_uno {
    width: 400px;
    height: 350px;
    margin-left: 5px;
}